{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/jsx-runtime",
		"plugin:react-hooks/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
	"settings": {
		"react": {
			"version": "18.2.0"
		}
	},
	"rules": {
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"prefer-const": "warn",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["off"],
		"@typescript-eslint/no-explicit-any": ["off"],
		"react-hooks/exhaustive-deps": ["off"],
    "react/display-name": "off",
    // 方法前是否要一个空格 always: 总是要
    "space-before-function-paren": [0, "never"],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-empty":"off"
		// "no-unused-vars": 0,
		// "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }]
	}
}
