*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
src/iconfont.less
coverage
dist

/mock/*
/dist/*
/manage-taste-boss-test/*
/manage-taste-boss/*
