@nav-size-height: 55px;

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  min-height: calc(100vh - @nav-size-height - 38px - 48px);
}
